
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'receipts:home' %}">Receipts</a></li>
                <li><a href="{% url 'receipts:create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'receipts:category_list' %}">Expense Categories</a></li>
                <li><a href="{% url 'receipts:create_category' %}">Create Category</a></li>
                <li><a href="{% url 'receipts:account_list' %}">Accounts</a></li>
                <li><a href="{% url 'receipts:create_account' %}">Create Account</a></li>
            {% endif %}
        </ul>
    </nav>
  {% block content %}{% endblock content %}
</body>
</html>
