<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Categories</title>
</head>
<body>
    <h1>Expense Categories</h1>
    <table class="ExpenseCategory-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in category %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipt_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
